<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Classe</title>
</head>

<body>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="navId" role="presentation">
        <li class="nav-item">
            <a href="../../index.html" class="nav-link" data-bs-toggle="tab">Acceuil</a>
        </li>
        <li class="nav-item" role="tablist">
            <a href="./classe.html" class="nav-link active" data-bs-toggle="tab">Classe</a>
        </li>
    </ul>


    <div class="container-fluid col-md-8">
        <!-- The list -->
        <table class="table table-striped table-light table-bordered border-primary">
            <thead class="table-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Ecole</th>
                </tr>
            </thead>
            <tbody class="table-group-divider table-hover">
                <tr>
                    <td>1</th>
                    <td>Cherif</td>
                    <td>Diouf</td>
                    <td>Licence 1</td>
                    <td>ESMT</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Yacine</td>
                    <td>Mbaye</td>
                    <td>Licence 1</td>
                    <td>ESTM</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Codou</td>
                    <td>Diouf</td>
                    <td>Licence 1</td>
                    <td>ESTM</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Codou</td>
                    <td>Diouf</td>
                    <td>Licence 1</td>
                    <td>ESTM</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Fatou</td>
                    <td>Diop</td>
                    <td>Licence 1</td>
                    <td>ESTM</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Youssoufa</td>
                    <td>Gueye</td>
                    <td>Licence 3</td>
                    <td>ESTM</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Babacar</td>
                    <td>Ndiaye</td>
                    <td>Licence 2</td>
                    <td>ESTM</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Aissatou</td>
                    <td>Diallo</td>
                    <td>Licence 1</td>
                    <td>ESTM</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>